body {
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
    /* border: 200px solid grey; */
}

header {
    position: relative;
    text-align: right;
    padding-top: 13px;
    padding-bottom: 12px;
    background-color: #00974D;
    width: 100%;
}

.middle-sec {
    height: 649px;
    width: 100%;
    background-color: rgba(0, 151, 77, 0.75);
    clip-path: ellipse(90% 67% at 50% 33%);
    position: absolute;
}

.bg-img {
    position: absolute;
    mix-blend-mode: soft-light;
    width: 100%;
    height: 649px;
    z-index: -1;
    background-repeat: no-repeat;
}

.logo {
    margin-left: 11.5%;
    margin-top: 5px;
    float: left;
    position: relative;
    cursor: pointer;
}

.bd-links {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    color: #ffffff;
    text-align: right;
    margin-bottom: 12%;
    margin-right: 15%;
    padding-top: 3%;
}

.btn1 {
    margin-left: 6%;
}

ul>li {
    display: inline-block;
}

.main-sec {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 7%;
    margin-top: 519px;
}

.school-content {
    display: inline-block;
    background-color: white;
    width: 30%;
    height: 451px;
    border-radius: 10px;
    margin-right: 25px;
    overflow: auto;
    /* text-align: center; */
}

.icons {
    clear: both;
    position: relative;
    margin-top: 9%;
    margin-left: 43%;
    margin-bottom: 22px;
}

.main-sec-content {
    margin-left: 60px;
    padding-right: 17px;
    margin-bottom: 13px;
}

.ticks {
    margin-left: 30px;
    float: left;
}

.btn--solid-main-sec {
    position: relative;
    left: 30%;
    background: #EE693F;
    color: white;
    text-align: center;
    top: 47px;
    border-radius: 2px;
    padding: 13px 12px;
}
    .btn--solid-main-sec:hover {
        background-color: #E5E5E5;
        color: #EE693F;
        transition: all 0.3s ease-in;
    }

.middle-txt {
    color: #383838;
    margin-top: 88px;
    margin-bottom: 45px;
}

.btm-half {
    overflow: hidden;
    margin-left: 9%;
    padding: 0;
}

.btm-content {
    background-color: white;
    width: 527px;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 0;
    overflow: auto;
}

.card-content {
    margin-right: 13px;
    margin-left: 300px;
}

.mid-sec-img {
    margin: 0;
    float: left;
}

.btm--solid-btn {
    background: transparent;
    border: 1px solid #EE693F;
    color: #EE693F;
    text-align: center;
    border-radius: 2px;
    padding: 13px 12px;
}
    .btm--solid-btn:hover {
        background-color: #EE693F;
        color: #ffffff;
        transition: all 0.3s ease-in;
    }

.btn-one,
.btn-two,
.btn-three,
.btn-four {
    position: relative;
    left: 20px;
    padding: 10px 14px;
}
.btn-one {
    top: 28px;
}
.btn-two,
.btn-three {
    top: 54px;
}
.btn-four {
    top: 74px;
}

.top-footer {
    position: relative;
    margin-top: 170px;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #00974D;
    width: 100%;
}

    .border {
        padding-right: 3%;
        border-right: 1px solid white;
    }

    .left-padding {
        padding-left: 3%;
    }

.bottom-footer {
    padding-left: 13%;
    padding-top: 3%;
    background-image: url('../img/footer.png');
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.bottom-footer>div {
    float: left;
}

.heads {
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
}

.lists {
    color: white;
}
    .lists>li {
        display: block;
        text-align: left;
        margin-bottom: 12px;
    }
    .sitemap {
        width: 126px;
    }
    .learnings {
        margin-left: 10%;
        width: 200px;
    }
    .admissions {
        margin: 0 5%;
        width: 220px;
    }
    .contact {
        width: 300px;
    }
    .margin {
        margin-top: 27px;
    }
    .margin2 {
        margin-top: 32px;
    }
    .margin2>span {
        margin-left: 16px;
    }
    .footer-links {
        color: white;
    }
    .footer-links:hover {
        color: #EE693F;
        transition: all 0.3s ease-in;
    }

.end-btn,
.contact-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 15px;
}
.end-btn:hover {
    background-color: #E5E5E5;
    color: #00974D;
    border-color: #E5E5E5;
    transition: all 0.3s ease-in;
}
.contact-btn {
    padding: 10px 50px;
}