/* Cell-phones */

@media (max-width: 500px) {
    .hd-links {
        padding-right: 16px;
    }
    .links1 {
        position: absolute;
        left: 7px;
    }
    .logo1 {
        position: relative;
        cursor: pointer;
    }
    .nav-toggle {
        display: none;
    }
    .nav-toggle:checked ~ .bd-links {
        /* display: block; */
        transform: scale(1, 1);
    }
    .nav-toggle-label {
        position: absolute;
        z-index: 99999;
        left: 90%;
        top: 32px;
    }
    .nav-toggle-label span,
    .nav-toggle-label::before,
    .nav-toggle-label::after {
        display: block;
        background: #ffffff;
        height: 4px;
        width: 24px;
        border-radius: 3px;
        position: relative;
    }
    .nav-toggle-label::before,
    .nav-toggle-label::after {
        content: '';
        position: absolute;
    }
    .nav-toggle-label::before {
        bottom: 7px;
    }
    .nav-toggle-label::after {
        top: 7px;
    }
    .bd-links {
        position: absolute;
        text-align: left;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #00974D;
        z-index: 9999;
        width: 88%;
        /* display: none; */
        height: 100vh;
        transform: scale(1, 0);
        transform-origin: top;
        transition: 400ms ease-in-out;
    }
    .logo {
        float: none;
        width: 47px;
        height: 59px;
        margin: 15px 0 0 0;
    }
    .top-nav {
        margin-bottom: 0;
        text-align: left;
        font-size: 16px;
    }
    .top-nav > li {
        display: block;
        margin: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 16px;
        padding-right: 0;
        width: 100%;
        opacity: 0;
        transition: 150ms ease-in-out;
    }

    .top-nav > li > a {
        width: 100%;
    }
    .btn1 {
        display: none;
    }
    .middle-sec__text {
        padding-top: 98px;
        margin: 0;
    }
    .nav-toggle:checked ~ .bd-links > .top-nav > li {
        opacity: 1;
        transition: 250ms ease-in-out 250ms;
    }
    .middle-sec {
        height: 294px;
        background: url(../img/bg-img-unedited-mobile.png) no-repeat;
        background-size: 100% 100%;
    }
    .middle-sec__text {

    }
    .middle-sec__text>h2 {
        font-size: 24px;
    }
    .btn--solid {
        margin-top: 32px;
    }
    .school-content:nth-child(2),
    .school-content:nth-child(3) {
        display: none;
    }
    .school-content:nth-child(1) {
        float: none;
        margin: 0 auto;
    }
    .main-sec__links {
        margin-top: 350px;
        display: block;
        text-align: center;
    }
    .main-sec__link1,
    .main-sec__link2,
    .main-sec__link3 {
        /* font-family: paytone one; */
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: black;
    }
    .main-sec__link1 + .main-sec__link2,
    .main-sec__link2 + .main-sec__link3 {
        margin-left: 8px;
    }
    .main-sec__link1 {
        color: #00974D;
        border-bottom: 2px solid #00974D;
    }
    .main-sec {
        margin: 0 auto;
        margin-top: 34px;
        margin-bottom: 32px;
        max-width: 385px;
    }
    .school-content {
        width: 320px;
        height: 451px;
        padding: 30px;
        border-radius: 10px;
    }
    .btm-half {
        max-width: 385px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .middle-txt {
        margin-bottom: 32px;
    }
    .btm-content {
        margin: 0;
        margin-bottom: 16px;
        width: 385px;
        height: 239px;
    }
    .btm-content > img {
        width: 117px;
        height: 100%;
        object-fit: cover;
    }
    .btm-content h4 {
        margin: 0;
        margin-left: 130px;
        margin-top: 20px;
        margin-bottom: 11px;
    }
    .card-content {
        margin: 0;
        margin-left: 130px;
    }
    .btm--solid-btn {
        margin-left: 9.4em;
    }
    .btn-one {
        margin-top: 18px;
    }
    .btn-two{
        margin-top: 16px;
    }
    .btn-three {
        margin-top: 16px;
    }
    .btn-four {
        margin-top: 16px;
    }
    .top-footer {
        display: block;
    }
}

/* Tablets */

@media (max-width: 1024px) {

}

/* Desktop */

@media (min-width: 500px) {
    .nav-toggle {
        display: none;
    }
    .links1 {
        display: none;
    }
    .main-sec__links {
        display: none;
    }
}
