@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Paytone+One&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
}

h1, h2, h3, h4 {
    font-family: 'Paytone One', -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

h3 {
    font-size: 18px;
    text-align: center;
    line-height: 8px;
}

h4 {
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 300px;
}

.p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #ee693f;
}
.header-links {
    color: #ffffff;
    font-size: 14px;
}

.hd-links {
    margin-right: 15%;
}

.link1 {
    text-decoration: underline;
    margin-left: 79px;
}

.links {
    margin-left: 2%;
    overflow: hidden;
}

.color {
    color: #ffffff;
}
    .color:hover {
        color: black;
        transition: all 0.3s ease-in;
    }

.top-footer-txt {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
    line-height: 0;
}